<h1>Add Post</h1>
<!-- 
    The posts_path helper tells Rails to point the form to the URI Pattern associated with the articles prefix; 
    and the form will (by default) send a POST request to that route.
     This is associated with the create action of the current controller, the PostsController.
 -->
<%= form_for :post, url: posts_path do |f|%>
   
   <!-- for showing the error if any -->
   <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"> <%= msg %> </div>
        <% end %>
   <% end %>

  <p>
      <%= f.label :title %><br>
      <%= f.text_field(:title,{:class=> 'form-control'}) %>
  </p>
  <p>
      <%= f.label :body %><br>
      <%= f.text_area(:body ,{:class=> 'form-control'})%>
  </p>
  <p>
      <%= f.submit(:class=>'btn btn-success')%>
  </p>
<% end %>